body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding:0px;
}

/*--------------------------
--------- Top Banner----- */

.top-container{
    background-color: #2D25A0;
    display: flex;
    justify-content: center;
    height: 677px;
}

.banner-title{
    margin-top:0px;
    margin-bottom: 25px;
    padding-top: 175px;
    font-weight: 700;
    font-size: 64px;
    color:  #FFFFFF;
    /* border: 2px solid red; */
    width:485px;
    /* height: 230px; */
}

.top-button{
    background: #E02C6D;
    text-align: center; 
     width: 170px;
     /* height:25px; */
    
    padding: 10px 10px 10px 10px;
}
.top-button a{
    text-decoration: none;
    color:#FFFFFF;
    font-size: 16px;
    font-weight: 500; 
   }

   .top-button i{
       padding-left: 8px;
       font-size: 16px;
       /* padding: 10px 32px 10px 24px; */
       padding-left: 8px;

   }

.top-container img{
    padding-top: 135px;
    padding-left: 100px;
    width: 556px;
    height: 438px;
}

/* -----------------------------
 -------- Player Section ------*/

 .container{
     padding-top: 70px;
     background-color: #FFFFFF;
     display: flex;
     justify-content: space-evenly;
 }

.all-players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:30px;
    grid-row-gap:30px ;
    background-color: #f6f6f6;

}
.player-card{
    background-color: #FFFFFF;
    width: 315px;
    height: 460px;
    padding: 15px;
    /* border: 2px solid greenyellow; */
    box-shadow: 5px 5px 10px 20px #f4f4f4;
}
 .player-card img{
     width: 300px;
     height: 256px;
     
 }

 .player-title{
    font-size: 28px;
    font-weight: bold;
    color: #18191F;
    
 }

 .player-description{
     font-size: 16px;
     font-weight: normal;
     color: #6C6C6C;
     text-justify: auto;
 }

/* highlight-section */

.highlight-container{
    background-color: #FFFFFF;
    margin-top: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.highlight-container img{
    margin-left: 65px;
    /* margin-bottom: 150px; remove this line after creating footer */
    
    width: 567px;
    height: 427px;
} 

.highlight-info{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 466px;
    height: 310px;
    padding-bottom: 60px;
}

.highlight-title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 48px;
    color:#0A0826;
}

.highlight-info p{
    margin-top: 8px;
    margin-bottom: 0px;
    font-weight: 400;
    font-size: 16px;
    color: #6C6C6C;

}

.highlight-button{
    margin-top: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #E02C6D;
    text-align: center; 
    width: 170px;
}

.highlight-button a{
    text-decoration: none;
    color:#FFFFFF;
    font-size: 16px;
    font-weight: 500; 
    padding-top: 10px;
    padding-bottom: 10px;

}

/* footer section */

.footer-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    /* width: 485px;
    height: 215px; */
}

.footer-section .logo img{
    width: 483px;
    height: 110px;
}

.social-icon{
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-section .social-icon img{
    padding-left: 14px;
    width: 32px;
    height: 32px;
}

.footer-section p{
    margin-top: 0px;
    margin-bottom: 60px;
    padding-left: 20px;
    font-size: 18px;
    font-weight: normal;
    color:#000000;
}


